#form1 {
    grid-area: grid;
    grid-column-start: 2;
    grid-column-end: 3;
}

#form3 {
    grid-area: grid;
    grid-column-start: 2;
    grid-column-end: 3;
}

#form2 {
    grid-area: grid;
    grid-column-start: 1;
    grid-column-end: 5;
}

table {
    grid-area: grid;
    border: none;
    /*align-items: left;*/
    margin: 20px auto;
    grid-column-start: 1;
    grid-column-end: 4;
}

.wtchData {
    grid-area: grid;
    /*align-items: left;*/
    grid-column-start: 1;
    grid-column-end: 4;
}

.row {
    border-bottom: solid;
    border-width: 1px 0;
}

th {
    text-align: center;
}

body {
    display: grid;
    grid-template-areas: "header" "title" "grid" "footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    justify-content: space-evenly;
    background-image: url('../images/wallpapersden.com_programming-coding-language_1920x1080.jpg');
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: cover;
    grid-row-gap: 15px;
}

#header {
    grid-area: header;
    background-color: none;
    text-size-adjust: auto;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: 15px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}


.required {
    color: red;
}

img {
    grid-area: grid;
}


#title {
    font-family: "Courier New", Courier, monospace;
    background-color: #16395F;
    text-align: center;
    color: white;
    font-size: 28px;
    grid-area: title;
    grid-column-start: 1;
    grid-column-end: 4;
    border-radius: 25px;
    margin-top:25px;
}

#foot1 {
    font-family: "Courier New", Courier, monospace;
    background-color: white;
    grid-area: footer;
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

.behindFooter {
    font-family: "Courier New", Courier, monospace;
    background-color: white;
    grid-area: footer;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#div3 {
    font-family: "Courier New", Courier, monospace;
    color: white;
    font-size: 28px;
}

#uploadIn {
    border: 2px solid black;
    border-radius: 25px;
    grid-area: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 10px;
    background-color: aquamarine;
}

#uploadOut {
    background-color: beige;
    padding: 5px;
    border: 2px solid black;
    border-radius: 25px;
    grid-area: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-bottom: 50px;
}

#fl {
    vertical-align: bottom;
}

#cent {
    text-align: center;
}

#regist {
    grid-area: grid;
    border-radius: 25px;
    border: 2px solid black;
    grid-column-start: 2;
    grid-column-end: 3;
    background-image:url('../images/istockphoto-1300397135-612x612.jpg');
    background-repeat:no-repeat;
    background-attachment:inherit;
    background-size:cover;
    margin: 25px;
    text-align:left;
    color: greenyellow;
    display:flex;
    flex-direction:column;
    align-items:center;
}

#registJobs {
    grid-area: grid;
    border-radius: 25px;
    border: 2px solid black;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    background-image: url('../images/istockphoto-1300397135-612x612.jpg');
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: cover;
    margin: 25px;
    margin-bottom:50px;
    text-align: left;
    color: greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoText {
    color: greenyellow;
    margin:20px;
    font-size:20px;
}

.lbl1 {
    font-size: 14px;
}

.sub1 {
    /*width: 180px;*/
    margin: 5px auto;
    font-family: "Courier New", Courier, monospace;
    background-color: #626466;
    border: none;
    color: #fff;
    border-radius: 7px;
}

#img1 {
    border: 2px solid black;
    grid-area: grid;
    grid-column-start: 2;
    grid-column-end: 3;
}

#gallery {
    grid-area: grid;
    grid-column-start: 1;
    grid-column-end: 4;
}

#ftrs{
    resize:none;
}

.in {
    width: 75%;
    height: 50px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid red;
    /* background-image:url('../images/istockphoto-1300397135-612x612.jpg');*/
    background-color: #16395F;
    outline: none;
    border-radius:25px;
    margin-top:10px;
    color:ghostwhite;
}

.in2 {
    width: 75%;
    height: 50px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid red;
    background-color: aquamarine;
    outline: none;
    resize: none;
    overflow: hidden;
}


.inApply {
    width: 75%;
    height: 100px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid red;
    /* background-image:url('../images/istockphoto-1300397135-612x612.jpg');*/
    background-color: #16395F;
    outline: none;
    border-radius: 10px;
    margin-bottom: 10px;
    color: ghostwhite;
    resize:none;
    overflow:hidden;
}

.cvLabel{
    margin-top: 10px;
}

.hpLabel {
    margin: 25px;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: "Courier New", Courier, monospace;
}

#ftrs {
    background-color: aquamarine;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid red;
}

/*#registOut {
    border: 2px solid black;
    background-color: beige;
    border-radius: 25px;
    margin-bottom: 40px;
}

#rateIn {
    border: 2px solid black;
    border-radius: 25px;
    grid-area: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 10px;
    background-color: aquamarine;
}

#rateOut {
    background-color: white;
    padding: 5px;
    border: 2px solid black;
    border-radius: 25px;
    grid-area: grid;
    grid-column-start: 2;
    grid-column-end: 3;
}*/

.gridData{
    grid-area: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align:center;
}
/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}*/

li {
    float: left;
}

.bttn1 {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font: "Courier New";
}

.bttn1:hover {
    background-color: white;
    color: darkgoldenrod;
}

.bttn3 {
    display:block;
    background-color:#333;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: none;
}

.bttn3:hover {
    background-color: white;
    color: darkgoldenrod;
}

.bttn2 {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font: "Courier New";
    background-color: #333;
    border-bottom-style:none;
    border-radius: 25px;
}

.bttn2:hover {
    background-color: white;
    color: darkgoldenrod;
}

.greet {
    float:right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font: "Courier New";
}

.mySlides {
    border: 2px solid black;
    grid-area: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 450px;
    height:350px;
}

#infUpdtOut {
    background-color: beige;
    padding: 5px;
    border: 2px solid black;
    border-radius: 25px;
    grid-area: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-bottom: 50px;
}

#infUpdtIn {
    border: 2px solid black;
    border-radius: 25px;
    grid-area: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 10px;
    background-color: aquamarine;
}

#showPass {
    background-color: aquamarine;
    border: none;
}

.navbar {
    list-style-type: none;
    display:inline block;
    margin: 0;
    padding: 0;
    width: 8.2%;
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
    justify-self: start;
}

.navBttn {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

navBttn.active {
    background-color: #04AA6D;
    color: white;
}

navBttn:hover:not(.active) {
    background-color: #555;
    color: white;
}

.datalistDiv {
    margin: 10px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    border-radius: 25px;
    border: 2px solid black;
}

.datalistDiv1 {
    margin: 30px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    border-radius: 25px;
    border: 2px solid black;
}

.indatlstdiv2 {
    padding: 5px;
}

.ddlDtaLst {
    color: white;
    font: "Courier New";
    background-color:#333;
    margin:5px;
}

.ddlAdd {
    font: "Courier New";
    text-align: left;
    margin: 5px;
    border-radius:25px;
    border-color:greenyellow;
    color:greenyellow;
}

.ddlBttnAdd {
    display: inline;
    text-align: center;
    font: "Courier New";
    background-image: url('../images/istockphoto-1300397135-612x612.jpg');
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: cover;
    text-align: left;
    border-radius: 25px;
    border-color: greenyellow;
    color: greenyellow;
}

.addDdl {
    list-style-type: none;
    color: greenyellow;
    margin: 0;
    padding: 0;
    background-color:none;
    text-align: left;
    display: flex;
    align-items: center;
    width: 490px;
}

.ddlBttn {
    display:inline;
    color: white;
    text-align: center;
    text-decoration: none;
    font: "Courier New";
    background-color: #333;
    border-bottom-style: none;
    border-radius: 25px;
}

#testOut {
    grid-area: grid;
    grid-column-start: 1;
    grid-column-end: 5;
}

#testIn {
    grid-area: grid;
    grid-column-start: 1;
    grid-column-end: 5;
}

.answerSub{
    display:flex;
    align-items:center;
    margin-bottom:35px;
    background-color:aquamarine;
    border: 2px solid black;
    border-radius:7px;
}

.datalistLbl{
    margin:20px;
    
}

.dtaLstBttn {
    margin: 15px;
    font-family: "Courier New", Courier, monospace;
    background-color: #626466;
    border: none;
    color: #fff;
    border-radius: 7px;
    
}

.passImg {
    margin-top: 15px;
    Height:20px;
    Width:20px;
}

.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.dropDowns {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: #16395F;
    display: flex;
    align-items: center;
    width: 490px;
    border-radius:25px;
}

.brClass {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 5%;
}

.questionsDiv {
    margin: 10px;
    background-color: aquamarine;
    border-radius: 25px;
    border: 2px solid black;
    padding:5%;
}

.dtListddl {
    list-style-type: none;
    margin:0;
    padding:0;
    background-color: #333;
    display:flex;
    align-items:center;
    width:490px;
}

#GridView1 {
    background-color:aquamarine;
}

.navdiv {
    grid-area: grid;
    background-color: none;
    text-size-adjust: auto;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: 15px;
    position: fixed;
    left: 0;
    width: 100%;
}

.ask {
    grid-area: grid;
    background-color: none;
    grid-column-start: 2;
    grid-column-end: 3;
    align-items:center;
    display:flex;
}

.mySlides{
    height: 400px;
    width: 600px;
}